<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONESTAR-分类</title>
    <link href="../static/images/me.jpg" th:href="@{https://three-blog.oss-cn-beijing.aliyuncs.com/images/me.jpg}"
          rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css"
          th:href="@{https://three-blog.oss-cn-beijing.aliyuncs.com/css/me.css}">
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script>

    var typeId = location.href.match(new RegExp(new RegExp(".*?/types/(.*)")));

    // 渲染博客类型标签
    function setTypeDiv() {
        //var items;
        $.get("/blog/count", function (data) {
            items = data.data.data;

            for (var i = 0; i < items.length; i++) {
                $("#typesBox").append("<div class=\"ui labeled button m-margin-tb-tiny\" id=\"te" + items[i].id + "\">\n" +
                    "          <a href=\"/types/" + items[i].id + "\"" + "class=\"ui basic  button\">" + items[i].name + "</a>\n" +
                    "          <div class=\"ui basic  left pointing label\">" + items[i].blogCount + "</div>\n" +
                    "        </div>");
            }


            if (typeId == null) {
                $("#te" + items[0].id).children("a").addClass("teal");
                $("#te" + items[0].id).children("div").addClass("teal")
            } else {
                $("#te" + typeId[1].id).children("a").addClass("teal");
                $("#te" + typeId[1].id).children("div").addClass("teal");

            }
            setBlogDetail();
        })

    }

    setTypeDiv();

    // 渲染具体博客
    function setBlogDetail() {
        form_data = {
            "typeId": typeId == null ? items[0].id : typeId[1],
        }
        $.ajaxSetup({
            contentType: 'application/json'
        })
        $.post("/blog/1/1000000", JSON.stringify(form_data), function (data) {
            // console.log(data);
            var blogs = data.data.data;
            for (var i = 0; i < blogs.length; i++) {
                $("#mainBlog").append("<div class=\"ui top attached teal m-opacity segment\">\n" +
                    "      <div class=\"ui padded vertical segment m-padded-tb-large\">\n" +
                    "        <div class=\"ui middle aligned mobile reversed stackable grid\" >\n" +
                    "          <div class=\"eleven wide column\">\n" +
                    "            <h3 class=\"ui header\" ><a href=\"/bg/" + blogs[i].id + "\">" + blogs[i].title + "</a></h3>\n" +
                    "            <p class=\"m-text\">" + blogs[i].description + "</p>\n" +
                    "            <div class=\"ui grid\">\n" +
                    "              <div class=\"eleven wide column\">\n" +
                    "                <div class=\"ui mini horizontal link list\">\n" +
                    "                  <div class=\"item\">\n" +
                    "                    <img src=\"" + 'https://three-blog.oss-cn-beijing.aliyuncs.com' + blogs[i].firstPicture + "\"  alt=\"\" class=\"ui avatar image\">\n" +
                    "                    <div class=\"content\"><a href=\"javascript:void(0)\" target=\"_blank\" class=\"header\">李韵</a></div>\n" +
                    "                  </div>\n" +
                    "                  <div class=\"item\">\n" +
                    "                    <i class=\"calendar icon\"></i><span>2020-01-01</span>\n" +
                    "                  </div>\n" +
                    "                  <div class=\"item\">\n" +
                    "                    <i class=\"eye icon\"></i> <span>2222</span>\n" +
                    "                  </div>\n" +
                    "                  <div class=\"item\">\n" +
                    "                    <i class=\"comment outline icon\"></i> <span>2222</span>\n" +
                    "                  </div>\n" +
                    "                </div>\n" +
                    "              </div>\n" +
                    "<div class=\"right aligned five wide column\">\n" +
                    "                <a href=\"javascript:void(0)\" target=\"_blank\" class=\"ui teal basic label m-padded-tiny m-text-thin\">好文</a>\n" +
                    "              </div>\n" +
                    "\n" +
                    "            </div>\n" +
                    "\n" +
                    "          </div>" +
                    "\n" +
                    "          <div class=\"five wide column\">\n" +
                    "            <a href=\"/bg/" + blogs[i].id + "\" target=\"_blank\">\n" +
                    "              <img src=\"" + 'https://three-blog.oss-cn-beijing.aliyuncs.com' + blogs[i].firstPicture + "\" alt=\"\" class=\"ui rounded image\">\n" +
                    "            </a>\n" +
                    "          </div>\n" +
                    "\n" +
                    "        </div>\n" +
                    "      </div>\n" +
                    "    </div>")
            }
        }, "json")
    }

    //setBlogDetail();


</script>

<!--导航-->
<div th:replace="~{commons::topbar}"></div>


<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../static/images/typebg.jpg" th:src="@{https://three-blog.oss-cn-beijing.aliyuncs.com/images/typebg.jpg}"
         alt="" class="ui m-bg image" style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">文章分类</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">
                记忆是一种相聚的方式，放下是一种自由的形式。不必悲伤，不必忧愁，邂逅的回忆都是美好的故事
            </div>
        </div>
    </div>
</div>


<!--中间内容-->
<div class="m-margin- animated fadeIn">
    <div class="ui container">
        <div class="ui segment m-padded-tb-large m-opacity">
            <div class="ui container" align="center" id="typesBox">

            </div>
        </div>

        <div id="mainBlog">

        </div>


        <!--分页-->
        <div class="ui bottom attached segment m-opacity stackable grid">
            <div class="three wide column" align="center">
                <a class="item">上一页</a>
            </div>

            <div class="ten wide column" align="center">
                <p><span></span> / <span></span></p>
            </div>

            <div class="three wide column" align="center">
                <a class="item">下一页</a>
            </div>
        </div>

    </div>
</div>

<br>
<br>
<!--底部栏-->
<div th:replace="~{commons::footbar}"></div>


<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>


<script>

    // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");


    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }

    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2020, 01, 25, 15, 15, 15)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }

    setInterval(setTime, 1000);

    $('#nav').show(500);

    $("#type-ada").addClass("active");


    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>