<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>照片新增</title>
    <link href="../../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <style>
        #div1 {
            background-image: url(/images/filed.png);
            background-repeat: no-repeat;
            width: 700px;
            height: 287px;
            border: red solid 1px;
        }

        #div1:hover {
            transform: scale(1.05);
            transition: transform 0.7s;
        }
    </style>
</head>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script>

</script>
<body>

<!--导航栏-->
<div th:replace="~{/admin/common::topbar}"></div>

<div class="m-padded-tb-hugex">
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="/admin/picture/add" class="teal active item">新增</a>
                <a href="#" class="item">列表</a>
            </div>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-container-small m-padded-tb-massive">
    <div class="ui container">
        <form action="#" method="post" class="ui form">
            <input type="hidden" name="id">
            <!--<div class=" field">
              <div class="ui left labeled input m-margin-top">
                <label class="ui teal basic label">图片名称</label>
                <input type="text" name="picturename" placeholder="图片名称">
              </div>
              <div class="ui left labeled input m-margin-top">
                <label class="ui teal basic label">时间地点</label>
                <input type="text" name="picturetime" placeholder="时间地点">
              </div>
              <div class="ui left labeled input m-margin-top">
                <label class="ui teal basic label">图片地址</label>
                <input type="text" name="pictureaddress" placeholder="图片地址">
              </div>
              <div class="ui left labeled input m-margin-top">
                <label class="ui teal basic label">图片描述</label>
                <input type="text" name="picturedescription" placeholder="图片描述">
              </div>
            </div>-->
            <div class="field">

                <form action="/picture/upload" method="post" enctype="multipart/form-data">
                    <div id="div1">
                        <input type="file" name="images" multiple="multiple"
                               style="filter:alpha(opacity=0);opacity:0; width: 100%; height: 100%"/>
                    </div>
                    <div class="ui right aligned container">
                        <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                        <input type="submit" value="提交" class="ui teal submit button"/>
                    </div>
                </form>
            </div>
            <!--<div class="ui error message"></div>-->


        </form>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted m-text-thin m-text-spaced m-margin-top-max">联系我
                </div>
                <div class="ui inverted link list">
                    <div href="#" class="m-text-thin">Email：onestarlr@hotmail.com</div>
                    <div href="#" class="m-text-thin">QQ：316392836</div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">
                            关注公众号
                        </div>
                        <img src="../../static/images/oneStar.jpg" th:src="@{/images/oneStar.jpg}"
                             class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">
                            问题交流（QQ群）
                        </div>
                        <img src="../../static/images/QQ-question.jpg" th:src="@{/images/QQ-question.jpg}"
                             class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <!--博客运行时间统计-->
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted  m-text-thin m-text-spaced m-margin-top">客栈信息
                </div>
                <!--<p id="htmer_time" class="item m-text-thin"></p>-->
                <div id="blog-message">
                    <div class="ui inverted link list" style="align-content: center;margin-top: 10px">
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                            文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"> 14 </h2> 篇
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"> 14 </h2> 次
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"> 14 </h2> 条
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"> 14 </h2> 条
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的客栈已营业：<span
                id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)
        </div>
        <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">赣ICP备20004408号-1</a>
    </div>
    </div>

</footer>


<div th:replace="~{/admin/common::footbar}"></div>
<div th:replace="~{/admin/common::commonJs}"></div>
<script>
    /* function add() {
         $("#div1").html('<div> <input type="file" name="images" multiple="multiple"/> <input type="button" value="删除" onclick=del() class="deletes"> </div>');
     }*/

    /*function del() {
        $(".deletes").parent().remove();
    }*/
</script>

</body>
</html>